.application {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 100px 1rem 73px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.application h2 {
    margin-bottom: 31px;
}

.application button {
    text-transform: uppercase;
    background: var(--primary-color);
    color: white;
    font-family: "Orbitron", sans-serif;
    padding: 18px 41px;
    border: 0;
}

.application .info {
    max-width: 974px;
    margin: 29px auto 0;
    padding: 0 110px;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    display: flex;
    gap: 40px;
    text-align: left;
}

.application .info h4 {
    color: var(--primary-color);
}


.application .form {
    padding: 55px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px 74px;
}

.application .form input {
    border: 0;
    background: var(--bg-grey);
    padding: 0 21px;
    min-height: 48px;
}

@media (max-width: 992px) {
    .application .info {
        padding: 0 1rem;
        gap: 20px;
    }

    .application .form {
        gap: 14px 1rem;
    }
}

@media (max-width: 767px) {
    .application .form {
        grid-template-columns: 1fr;
    }

    .application .info {
        flex-direction: column;
    }
}
