.application {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 100px 1rem 73px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.application h2 {
    margin-bottom: 31px;
}

.application button {
    text-transform: uppercase;
    background: var(--primary-color);
    color: white;
    font-family: "Orbitron", sans-serif;
    padding: 18px 41px;
    border: 0;
    cursor: pointer;
}

.application .info {
    max-width: 974px;
    margin: 29px auto 0;
    padding: 0 110px;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    display: flex;
    gap: 40px;
    text-align: left;
}

.application .info h4 {
    color: var(--primary-color);
}

.application .message {
    padding: 2rem 0;
    text-align: center;
    font-size: var(--font-size-title);
}

.application .form {
    padding: 55px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px 74px;
    position: relative;
}

.application .form .loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff4d;
    backdrop-filter: blur(2px);
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.application .form textarea {
    border: 0;
    background: var(--bg-grey);
    padding: 1rem 21px;
    height: calc(48px - 2rem);
    font-family: "Exo2", sans-serif;
    resize: none;
}

.application .form textarea::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.application .form textarea::placeholder {
    color: #6F6F6F;
    font-size: var(--font-size-sm);
}

@media (max-width: 992px) {
    .application .info {
        padding: 0 1rem;
        gap: 20px;
    }

    .application .form {
        gap: 14px 1rem;
    }
}

@media (max-width: 767px) {
    .application .form {
        grid-template-columns: 1fr;
    }

    .application .info {
        flex-direction: column;
    }
}
