.contact {
    padding: 28px 1rem 36px;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--border-color);
}

.contact .map {
    width: 100%;
    height: 332px;
    background: #D3D3D3;
}

.contact .content {
    padding: 28px 1rem 1rem 62px;
}

.contact .content h2 {
    margin-bottom: 32px;
}

.contact .content .iconText {
    display: flex;
    gap: 37px;
    margin-bottom: 20px;
}

.contact .content .iconText h4 {
    font-weight: normal;
    color: var(--primary-color);
}

.contact .content .info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem 43px;
    margin-left: 70px;
    max-width: 400px;
}

.contact .content .info div:nth-child(odd) {
    color: var(--primary-color);
}
