.header {
    padding: 28px 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.navigation {
    list-style: none;
    display: flex;
    gap: 71px;
}

.navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    color: var(--black-color);
    transition: color .3s ease-in-out;
}

.navigation li a:hover {
    color: var(--primary-color);
}
