.banner {
    min-height: 529px;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background-image: url("./banner.webp");
    background-position: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .banner {
        background-position: 350px;
    }

    .banner h1 {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    .banner {
        min-height: 529px;
        background-position: 10% 90px;
        background-size: cover;
        align-items: start;
    }

    .banner h1 {
        padding-top: 3rem;
        font-size: 30px;
    }
}
